.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../../img/bg/consultation.jpg) center center/cover no-repeat fixed;
    &__descr {
        margin-top: 80px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        position: relative;
        top: -12px;
        color: #FFF;
        border: none;
        text-align: center;
        text-align: left;
        margin-bottom: 10px;
    }
}